@import 'reset';

/* Topbar */
@media screen and (max-width: 560px) {
  .topbar {
    display: block !important;
  }

  #app {
    padding-top: 115px !important;
  }

}

@media screen and (max-width: 373px) {

  #app {
    padding-top: 155px !important;
  }

}

@media screen and (max-width: 245px) {

  #app {
    padding-top: 185px !important;
  }

}

.topbar div div a.active button div {
  color: #C8E6C9;
}



.topbar div div a button div {
  color: #ffffff;
}
.contestantList {
  overflow-wrap: break-word;
}



#app {
  padding-top: 70px;
  padding-bottom: 70px;
  overflow-y: auto;
}
/* END Topbar */

/* Scrollbar */
body {
  overflow-y: scroll;
}
/* END Scrollbar */

/* Footer */
.footer {
  background-color: #011F53;
  border: 0;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  color: #ffffff;
  width: 100%;
  z-index: 300;
}

/* END Footer */