@import 'reset';

/* Topbar */
.topbar div div a.active button div {
  color: #C8E6C9;
}

.topbar div div a button div {
  color: #ffffff;
}

#app {
  padding-top: 70px;
  padding-bottom: 70px;
  overflow-y: auto;
}

/* END Topbar */

/* Footer */
.footer {
  background-color: rgb(0, 188, 212);
  border: 0;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  color: #ffffff;
  width: 100%;
  z-index: 300;
}

/* END Footer */