@import 'reset';

/* Topbar */
.topbar div div a.active button div {
  color: #999999;
}

.topbar div div a button div {
  color: #ffffff;
}
/* END Topbar */

.contestantList {
  overflow-wrap: break-word;
  -webkit-column-gap: 0.5em;
  -moz-column-gap: 0.5em;
  column-gap: 0.5em;
  -webkit-column-width: 350px;
  -moz-column-width: 350px;
  column-width: 350px;

  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;

  .card {
    width: 350px;
    max-height: 650px;
    margin: 10px 10px 5px;
    display: inline-block;
  }
}

/* Scrollbar */
body {
  overflow-y: scroll;
  background-color: #ecf0f1;
}
/* END Scrollbar */

/* Content */
#app {
  padding-top: 78px;
  padding-bottom: 78px;
  overflow-y: auto;

}


.appContent {
  margin: 0 8px;
}
/* END Content */

/* Forms */
.appContent form {
  width: 90%;
  max-width: 380px;
  margin: auto auto;
  padding: 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}


/* max-width = form-width + appContent-margin */
@media screen and (max-width: 390px) {
  .appContent form {
    width: 90%;
    box-sizing: border-box;
  }

}

/* END Forms */

/* Footer */
.footer {
  background-color: #891400;
  border: 0;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  color: #ffffff;
  width: 100%;
  z-index: 300;
  box-sizing: border-box;
}
/* END Footer */


@media screen and (max-width: 750px) {
  /* Non-sticky */
  #app {
    padding: 0 !important;
  }

  .topbar {
    display: block !important;
    position: relative !important;
  }

  .footer {
    position: relative !important;
  }

  .appContent {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  /* END Non-sticky */
}