html
    head

    body
        p Ohai #{name},
        p Danke für deine Aufstellung. Um den Prozess abzuschließen klicke bitte auf den untenstehenden Link
        a(href=link) #{link}
        p Viele Grüße
        p Dat Stupa
