html
    head

    body
        p Hallo #{name},
        p die Aufstellungs-Phase zur StuPa-Wahl 2017 ist vorbei.
        p Um für bis zu vier Kanditaten stimmen zu können, klicke bitte auf den folgenden Link:
        a(href=voteLink) Abstimmen
	p Dieser Link ist personalisiert. Gib ihn daher bitte nicht weiter.
        p Du musst nicht alle deine Stimmen aufeinmal verwenden. Nicht verwendete Stimmen können bis zum Ende der Wahl-Phase benutzt werden.
	p Einmal abgegeben Stimmen können nicht zurückgezogen werden.
        p Viele Grüße
        p Mitja fürs StuPa
