html
    head

    body
        p Hallo #{name},
        p ndie Aufstellungs-Phase zur StuPa-Wahl 2017 ist vorbei.
        p nUm für bis zu vier Kanditaten stimmen zu können, klicke bitte auf den folgenden Link:
        a(href=voteLink) Voten
        p Dein Vote-Token lautet: #{token}
        p Viele Grüße
        p Mitja fürs StuPa