html
    head

    body
        p Hallo #{name},
            br
            | die Aufstellungs-Phase zur StuPa-Wahl 2018 ist vorbei.
        p Um für bis zu vier Kanditaten stimmen zu können, klicke bitte auf den folgenden Link:
        a(href=voteLink) Abstimmen
        p Dieser Link ist personalisiert. Gib ihn daher bitte nicht weiter.
        p Es kann nur einmal für bis zu vier Kandidaten abgestimmt werden. Solltest du nicht alle Stimmen genutzt haben verfallen jene, welche nicht genutzt wurden.
        p Viele Grüße
            br
            | Paula fürs StuPa
