html
    head

    body
        p Hallo #{name},
            br
            | die Aufstellungs-Phase zur Vorstandswahl ist vorbei.
        p Um für bis zu vier Kanditaten stimmen zu können, klicke bitte auf den folgenden Link:
        a(href=voteLink) Abstimmen
        p Dieser Link ist personalisiert. Gib ihn daher bitte nicht weiter.
        p Du musst nicht alle deine Stimmen aufeinmal verwenden. Nicht verwendete Stimmen können bis zum Ende der Wahl-Phase benutzt werden.
            br
            | Wenn du noch nicht alle Stimmen vergeben hast kannst du diese unter demselben Abstimmen-Link verteilen.
            br
            | Einmal abgegeben Stimmen können nicht zurückgezogen werden.
        p Viele Grüße
            br
            | Mitja fürs StuPa
