html
    head

    body
        p Hallo #{name},
        p die Aufstellungs-Phase zur StuPa-Wahl 2017 ist vorbei.
        p Um für bis zu vier Kanditaten stimmen zu können, klicke bitte auf den folgenden Link:
        a(href=voteLink) Abstimmen
        p Dein Wahl-Token lautet: #{token}
        p Du musst nicht alle deine Stimmen aufeinmal verwenden. Nicht verwendete Stimmen können bis zum Ende der Wahl-Phase benutzt werden.
        p Viele Grüße
        p Mitja fürs StuPa