html
  head
    title= title
    link(rel='stylesheet' href=rootPath + '/css/main.css')
  body
    hgroup
      h1 Stupa-Wahl 2017
      h3 by nerdakademie
    div(id="app")
    script(type='text/javascript' src=rootPath + '/js/app.js')
